In [327]:
import pandas as pd

# Get the default missing values

IMD_Data = pd.read_stata("Dataset MAY -Stats Incidence IMD.dta", convert_categoricals=False)

In [328]:
print(IMD_Copy.columns)

Index(['age', 'Age_Category', 'sex1', 'childeduc1', 'religion1',
       'BMI_category', 'childtrib1', 'orphanhood', 'ses_cat',
       'Support_Program', 'childartk1', 'childpremt1', 'chilborhiv', 'Stress',
       'childworst1', 'CD4_category', 'Viralload_Category', 'tlbase', 'tl12',
       'tldiff', 'telomere_length_change', 'stin2vntr_', 'httlpr1',
       'HTTLPRrs35531', 'rs35531', 'Rs10482605_enc', 'Rs1360780_enc',
       'rs1386494_enc', 'rs1843809_enc', 'rs34517220_enc', 'GroupCategory',
       'IMDs'],
      dtype='object')

In [329]:
IMD_Copy.isnull().sum().sum()

849

In [330]:
IMD_Copy.isnull().sum().sum

<bound method Series.sum of age                        17
Age_Category                0
sex1                        1
childeduc1                  1
religion1                   1
BMI_category                2
childtrib1                  1
orphanhood                 10
ses_cat                     0
Support_Program             4
childartk1                  0
childpremt1                 1
chilborhiv                  1
Stress                      0
childworst1                 0
CD4_category                2
Viralload_Category         59
tlbase                     62
tl12                       94
tldiff                    134
telomere_length_change    134
stin2vntr_                 51
httlpr1                    28
HTTLPRrs35531              30
rs35531                    30
Rs10482605_enc             53
Rs1360780_enc              33
rs1386494_enc              35
rs1843809_enc              31
rs34517220_enc             34
GroupCategory               0
IMDs                        0
dtype: int64>

In [331]:
IMD_Copy.dtypes

age                       float32
Age_Category                int32
sex1                      float64
childeduc1                float64
religion1                 float32
BMI_category              float32
childtrib1                float64
orphanhood                float64
ses_cat                   float32
Support_Program           float64
childartk1                   int8
childpremt1               float64
chilborhiv                float64
Stress                    float32
childworst1                  int8
CD4_category              float64
Viralload_Category        float32
tlbase                    float64
tl12                      float64
tldiff                    float32
telomere_length_change    float32
stin2vntr_                float32
httlpr1                   float32
HTTLPRrs35531             float32
rs35531                   float32
Rs10482605_enc            float64
Rs1360780_enc             float64
rs1386494_enc             float64
rs1843809_enc             float64
rs34517220_enc            float64
GroupCategory             float32
IMDs                      float32
dtype: object

In [332]:
import pandas as pd

# Assuming you have a DataFrame named 'IMD_Copy' and the variables of interest are 'stin2vntr_', 'telomere_length_change', and 'Age_Category'
variables_of_interest = ['stin2vntr_', 'telomere_length_change', 'Age_Category']

# Iterate over each variable
for variable in variables_of_interest:
    # Calculate frequency of each unique value for the current variable
    frequency_table = IMD_Copy[variable].value_counts().reset_index()
    frequency_table.columns = ['Categories', 'Freq']
    
    # Calculate percentage
    total_count = frequency_table['Freq'].sum()
    frequency_table['Percentage'] = (frequency_table['Freq'] / total_count) * 100
    
    # Add a column for the variable name
    frequency_table['Var'] = variable
    
    # Reorder columns
    frequency_table = frequency_table[['Var', 'Categories', 'Freq', 'Percentage']]
    
    # Print frequency table for the current variable
    print(frequency_table)
    print()

          Var  Categories  Freq  Percentage
0  stin2vntr_         3.0   177   55.835962
1  stin2vntr_         2.0   112   35.331230
2  stin2vntr_         1.0    28    8.832808

                      Var  Categories  Freq  Percentage
0  telomere_length_change         0.0   181   77.350427
1  telomere_length_change         1.0    53   22.649573

            Var  Categories  Freq  Percentage
0  Age_Category           2   134   36.413043
1  Age_Category           3   129   35.054348
2  Age_Category           1   105   28.532609

In [333]:
import pandas as pd

# Read the data
IMD_IMDIMD_IMD = pd.read_stata("Dataset MAY -Stats Incidence IMD.dta", preserve_dtypes=True)

C:\Users\isaac\AppData\Local\Temp\ipykernel_1984\4119404282.py:4: UnicodeWarning:
One or more strings in the dta file could not be decoded using utf-8, and
so the fallback encoding of latin-1 is being used.  This can happen when a file
has been incorrectly encoded by Stata or some other software. You should verify
the string values returned are correct.
  IMD_IMDIMD_IMD = pd.read_stata("Dataset MAY -Stats Incidence IMD.dta", preserve_dtypes=True)

In [334]:
IMD_IMD.isnull().sum().sum()

307

In [335]:
print(IMD_IMD.columns)

Index(['Age', 'Age_Category', 'Gender_of_Child', 'Childs_Education_Level',
       'Religion', 'BMI_category', 'Tribe_of_Child', 'orphanhood',
       'Socio_Economic_Status', 'Support_Program', 'Child_Takes_ART',
       'Premature_Birth', 'Born_with_HIV', 'Stress', 'Worst_HIV_Stage',
       'CD4_category', 'Viralload_Category', 'Baseline_telomere_length',
       'Telomere_length_12Months', 'tldiff', 'telomere_length_change',
       'stin2vntr_', 'httlpr1_polymorphism', 'HTTLPRrs35531',
       'rs35531_polymorphism', 'Rs10482605_polymorphism',
       'Rs1360780_polymorphism', 'rs1386494_polymorphism',
       'rs1843809_polymorphism', 'rs34517220_polymorphism', 'GroupCategory',
       'IMDs'],
      dtype='object')

In [336]:
IMD_IMD.dtypes

Age                         float32
Age_Category                  int32
Gender_of_Child               int32
Childs_Education_Level        int32
Religion                      int32
BMI_category                  int32
Tribe_of_Child                int32
orphanhood                    int32
Socio_Economic_Status         int32
Support_Program               int32
Child_Takes_ART               int32
Premature_Birth               int32
Born_with_HIV                 int32
Stress                        int32
Worst_HIV_Stage               int32
CD4_category                  int32
Viralload_Category            int32
Baseline_telomere_length    float64
Telomere_length_12Months    float64
tldiff                      float32
telomere_length_change        int32
stin2vntr_                    int32
httlpr1_polymorphism          int32
HTTLPRrs35531                 int32
rs35531_polymorphism          int32
Rs10482605_polymorphism       int32
Rs1360780_polymorphism        int32
rs1386494_polymorphism        int32
rs1843809_polymorphism        int32
rs34517220_polymorphism       int32
GroupCategory                 int32
IMDs                          int32
dtype: object

In [337]:
import pandas as pd

# Assuming you have a DataFrame named 'IMD_Copy' and the variables of interest are 'stin2vntr_', 'telomere_length_change', and 'Age_Category'
variables_of_interest = ['stin2vntr_', 'telomere_length_change', 'Age_Category']

# Iterate over each variable
for variable in variables_of_interest:
    # Calculate frequency of each unique value for the current variable
    frequency_table = IMD_IMD[variable].value_counts().reset_index()
    frequency_table.columns = ['Categories', 'Freq']
    
    # Calculate percentage
    total_count = frequency_table['Freq'].sum()
    frequency_table['Percentage'] = (frequency_table['Freq'] / total_count) * 100
    
    # Add a column for the variable name
    frequency_table['Var'] = variable
    
    # Reorder columns
    frequency_table = frequency_table[['Var', 'Categories', 'Freq', 'Percentage']]
    
    # Print frequency table for the current variable
    print(frequency_table)
    print()

          Var  Categories  Freq  Percentage
0  stin2vntr_           2   177   48.097826
1  stin2vntr_           1   112   30.434783
2  stin2vntr_           3    51   13.858696
3  stin2vntr_           0    28    7.608696

                      Var  Categories  Freq  Percentage
0  telomere_length_change           0   181   49.184783
1  telomere_length_change           2   134   36.413043
2  telomere_length_change           1    53   14.402174

            Var  Categories  Freq  Percentage
0  Age_Category           0   134   36.413043
1  Age_Category           1   129   35.054348
2  Age_Category           2   105   28.532609

In [338]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import Normalizer, OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# Label encode the IMD_Copy variable if it's categorical
for column in IMD_IMD.columns:
    if IMD_IMD[column].dtype == 'object' or IMD_IMD[column].dtype.name == 'category':
        label_encoder = LabelEncoder()
        IMD_IMD[column] = label_encoder.fit_transform(IMD_IMD[column])
IMD_IMD.head(-5)

,Age,Age_Category,Gender_of_Child,Childs_Education_Level,Religion,BMI_category,Tribe_of_Child,orphanhood,Socio_Economic_Status,Support_Program,...,httlpr1_polymorphism,HTTLPRrs35531,rs35531_polymorphism,Rs10482605_polymorphism,Rs1360780_polymorphism,rs1386494_polymorphism,rs1843809_polymorphism,rs34517220_polymorphism,GroupCategory,IMDs
0,4.999316,1,0,1,0,3,0,0,1,0,...,1,2,0,1,1,2,2,0,0,0
1,5.004791,1,0,1,0,3,0,0,1,0,...,1,2,0,0,1,1,0,1,0,1
2,5.007529,1,0,1,0,3,0,2,1,0,...,0,1,1,0,2,0,0,0,0,1
3,5.023956,0,0,1,0,3,0,0,1,0,...,0,1,1,0,2,2,2,0,0,1
4,5.026694,2,0,1,0,3,1,0,0,0,...,0,0,0,0,1,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,NaN,2,0,1,0,3,1,0,1,0,...,0,0,0,0,0,2,2,1,0,1
359,NaN,1,1,1,1,3,0,0,1,0,...,0,0,0,0,0,2,2,2,0,1
360,NaN,0,0,1,0,3,0,0,0,0,...,0,3,2,1,0,2,0,2,0,0
361,NaN,1,0,1,1,3,0,0,1,0,...,1,2,0,1,1,2,1,2,0,0
362,NaN,0,1,1,1,3,0,0,0,0,...,1,2,0,0,1,1,1,0,0,1

In [339]:
IMD_IMD.isnull().sum().sum()

307

In [340]:
from sklearn.impute import IterativeImputer
imp_mean = IterativeImputer(random_state=0)

# Apply iterative imputation
imputer = IterativeImputer(max_iter=10, random_state=0)
X_imputed_encoded = pd.DataFrame(imputer.fit_transform(X_encoded), columns=X_encoded.columns)

# Decode encoded values back to original categories
X_imputed = X_imputed_encoded.copy()
for col in categorical_cols:
    X_imputed[col] = label_encoders[col].inverse_transform(X_imputed_encoded[col].astype(int))

X_imputed.head(-10)

,Age,Age_Category,Gender_of_Child,Childs_Education_Level,Religion,BMI_category,Tribe_of_Child,orphanhood,Socio_Economic_Status,Support_Program,...,stin2vntr_,httlpr1_polymorphism,HTTLPRrs35531,rs35531_polymorphism,Rs10482605_polymorphism,Rs1360780_polymorphism,rs1386494_polymorphism,rs1843809_polymorphism,rs34517220_polymorphism,GroupCategory
0,4.999316,1.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,...,3.0,1.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0
1,5.004791,1.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,...,2.0,1.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,5.007529,1.0,0.0,1.0,0.0,3.0,0.0,2.0,1.0,0.0,...,2.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0
3,5.023956,0.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,2.0,2.0,2.0,0.0,0.0
4,5.026694,2.0,0.0,1.0,0.0,3.0,1.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,10.206019,1.0,0.0,1.0,1.0,3.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,2.0,0.0
354,8.778251,0.0,0.0,1.0,1.0,3.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0
355,11.826812,1.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
356,9.104750,0.0,0.0,1.0,0.0,3.0,0.0,2.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0
357,11.124474,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0

In [341]:
import pandas as pd

# Assuming you have a DataFrame named 'IMD_Copy' and the variables of interest are 'stin2vntr_', 'telomere_length_change', and 'Age_Category'
variables_of_interest = ['stin2vntr_', 'telomere_length_change', 'Age_Category']

# Iterate over each variable
for variable in variables_of_interest:
    # Calculate frequency of each unique value for the current variable
    frequency_table = X_imputed[variable].value_counts().reset_index()
    frequency_table.columns = ['Categories', 'Freq']
    
    # Calculate percentage
    total_count = frequency_table['Freq'].sum()
    frequency_table['Percentage'] = (frequency_table['Freq'] / total_count) * 100
    
    # Add a column for the variable name
    frequency_table['Var'] = variable
    
    # Reorder columns
    frequency_table = frequency_table[['Var', 'Categories', 'Freq', 'Percentage']]
    
    # Print frequency table for the current variable
    print(frequency_table)
    print()

          Var  Categories  Freq  Percentage
0  stin2vntr_         2.0   177   48.097826
1  stin2vntr_         1.0   112   30.434783
2  stin2vntr_         3.0    51   13.858696
3  stin2vntr_         0.0    28    7.608696

                      Var  Categories  Freq  Percentage
0  telomere_length_change         0.0   181   49.184783
1  telomere_length_change         2.0   134   36.413043
2  telomere_length_change         1.0    53   14.402174

            Var  Categories  Freq  Percentage
0  Age_Category         0.0   134   36.413043
1  Age_Category         1.0   129   35.054348
2  Age_Category         2.0   105   28.532609

In [342]:
X_imputed.to_stata("imputed2_data.dta", version=118)

In [343]:
# Separate features and target variable
IMD_2 = IMD_IMD.copy()

X_full = IMD_2 .drop('IMDs', axis=1)
y_full = IMD_2 ['IMDs']

# Identify categorical variables
categorical_cols = X_full.select_dtypes(include=['object']).columns.tolist()

# Apply label encoding to categorical variables
label_encoder = LabelEncoder()
X_encoded = X_full.copy()
for col in categorical_cols:
    X_encoded[col] = label_encoder.fit_transform(X_full[col])

# Impute missing values
imputer = KNNImputer(n_neighbors=5)
imputed_data = imputer.fit_transform(X_encoded)
imputed_dataframe = pd.DataFrame(imputed_data, columns=X_encoded.columns)

imputed_dataframe.head(-10)

,Age,Age_Category,Gender_of_Child,Childs_Education_Level,Religion,BMI_category,Tribe_of_Child,orphanhood,Socio_Economic_Status,Support_Program,...,stin2vntr_,httlpr1_polymorphism,HTTLPRrs35531,rs35531_polymorphism,Rs10482605_polymorphism,Rs1360780_polymorphism,rs1386494_polymorphism,rs1843809_polymorphism,rs34517220_polymorphism,GroupCategory
0,4.999316,1.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,...,3.0,1.0,2.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0
1,5.004791,1.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,...,2.0,1.0,2.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,5.007529,1.0,0.0,1.0,0.0,3.0,0.0,2.0,1.0,0.0,...,2.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0
3,5.023956,0.0,0.0,1.0,0.0,3.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,0.0,2.0,2.0,2.0,0.0,0.0
4,5.026694,2.0,0.0,1.0,0.0,3.0,1.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,11.636003,1.0,0.0,1.0,1.0,3.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,2.0,0.0
354,9.178097,0.0,0.0,1.0,1.0,3.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0
355,9.346475,1.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
356,8.618754,0.0,0.0,1.0,0.0,3.0,0.0,2.0,1.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0
357,10.245722,0.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,...,2.0,0.0,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0

In [344]:
imputed_dataframe.isnull().sum().sum()

0

In [345]:
imputed_dataframe.to_stata("imputed_data.dta", version=118)

In [346]:
import pandas as pd

# Assuming you have a DataFrame named 'IMD_Copy' and the variables of interest are 'stin2vntr_', 'telomere_length_change', and 'Age_Category'
variables_of_interest = ['stin2vntr_', 'telomere_length_change', 'Age_Category']

# Iterate over each variable
for variable in variables_of_interest:
    # Calculate frequency of each unique value for the current variable
    frequency_table = imputed_dataframe[variable].value_counts().reset_index()
    frequency_table.columns = ['Categories', 'Freq']
    
    # Calculate percentage
    total_count = frequency_table['Freq'].sum()
    frequency_table['Percentage'] = (frequency_table['Freq'] / total_count) * 100
    
    # Add a column for the variable name
    frequency_table['Var'] = variable
    
    # Reorder columns
    frequency_table = frequency_table[['Var', 'Categories', 'Freq', 'Percentage']]
    
    # Print frequency table for the current variable
    print(frequency_table)
    print()

          Var  Categories  Freq  Percentage
0  stin2vntr_         2.0   177   48.097826
1  stin2vntr_         1.0   112   30.434783
2  stin2vntr_         3.0    51   13.858696
3  stin2vntr_         0.0    28    7.608696

                      Var  Categories  Freq  Percentage
0  telomere_length_change         0.0   181   49.184783
1  telomere_length_change         2.0   134   36.413043
2  telomere_length_change         1.0    53   14.402174

            Var  Categories  Freq  Percentage
0  Age_Category         0.0   134   36.413043
1  Age_Category         1.0   129   35.054348
2  Age_Category         2.0   105   28.532609

In [347]:
# import matplotlib.pyplot as plt
# import numpy as np
# import pandas as pd
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.impute import KNNImputer

# N_SPLITS = 5

# rng = np.random.RandomState(0)

# # Since IMD_Copy contains both features and the target variable
# # Separate features and target variable
# IMD_Copy = pd.read_stata("Dataset MAY -Stats Incidence IMD.dta", convert_categoricals=False)
# X_full = IMD_Copy.drop('IMDs', axis=1)
# y_full = IMD_Copy['IMDs']

# imputer = KNNImputer(n_neighbors=2)

# imputed_data = imputer.fit_transform(IMD_Copy)
# # Convert imputed_data back to DataFrame if needed
# imputed_dataframe = pd.DataFrame(imputed_data, columns=IMD_Copy.columns)

# imputed_dataframe.head(-10)

In [348]:
import pandas as pd

# Assuming you have a DataFrame named 'IMD_Copy' and the variables of interest are 'stin2vntr_', 'telomere_length_change', and 'Age_Category'
variables_of_interest = ['stin2vntr_', 'telomere_length_change', 'Age_Category']

# Iterate over each variable
for variable in variables_of_interest:
    # Calculate frequency of each unique value for the current variable
    frequency_table = imputed_dataframe[variable].value_counts().reset_index()
    frequency_table.columns = ['Categories', 'Freq']
    
    # Calculate percentage
    total_count = frequency_table['Freq'].sum()
    frequency_table['Percentage'] = (frequency_table['Freq'] / total_count) * 100
    
    # Add a column for the variable name
    frequency_table['Var'] = variable
    
    # Reorder columns
    frequency_table = frequency_table[['Var', 'Categories', 'Freq', 'Percentage']]
    
    # Print frequency table for the current variable
    print(frequency_table)
    print()

          Var  Categories  Freq  Percentage
0  stin2vntr_         2.0   177   48.097826
1  stin2vntr_         1.0   112   30.434783
2  stin2vntr_         3.0    51   13.858696
3  stin2vntr_         0.0    28    7.608696

                      Var  Categories  Freq  Percentage
0  telomere_length_change         0.0   181   49.184783
1  telomere_length_change         2.0   134   36.413043
2  telomere_length_change         1.0    53   14.402174

            Var  Categories  Freq  Percentage
0  Age_Category         0.0   134   36.413043
1  Age_Category         1.0   129   35.054348
2  Age_Category         2.0   105   28.532609

In [349]:
IMD_Copy.isnull().sum().sum

<bound method Series.sum of age                        17
Age_Category                0
sex1                        1
childeduc1                  1
religion1                   1
BMI_category                2
childtrib1                  1
orphanhood                 10
ses_cat                     0
Support_Program             4
childartk1                  0
childpremt1                 1
chilborhiv                  1
Stress                      0
childworst1                 0
CD4_category                2
Viralload_Category         59
tlbase                     62
tl12                       94
tldiff                    134
telomere_length_change    134
stin2vntr_                 51
httlpr1                    28
HTTLPRrs35531              30
rs35531                    30
Rs10482605_enc             53
Rs1360780_enc              33
rs1386494_enc              35
rs1843809_enc              31
rs34517220_enc             34
GroupCategory               0
IMDs                        0
dtype: int64>

In [350]:

# Replace missing values with empty strings
IMD_Copy = IMD_Copy.replace(-1, '')

# Now IMD_Copy contains numerical representations with missing values as empty strings

IMD_Copy.isnull().sum()

age                        17
Age_Category                0
sex1                        1
childeduc1                  1
religion1                   1
BMI_category                2
childtrib1                  1
orphanhood                 10
ses_cat                     0
Support_Program             4
childartk1                  0
childpremt1                 1
chilborhiv                  1
Stress                      0
childworst1                 0
CD4_category                2
Viralload_Category         59
tlbase                     62
tl12                       94
tldiff                    134
telomere_length_change    134
stin2vntr_                 51
httlpr1                    28
HTTLPRrs35531              30
rs35531                    30
Rs10482605_enc             53
Rs1360780_enc              33
rs1386494_enc              35
rs1843809_enc              31
rs34517220_enc             34
GroupCategory               0
IMDs                        0
dtype: int64

In [351]:
from lightgbm import LGBMRegressor, LGBMClassifier

In [352]:
# # Replace NaN and -inf values with empty strings
# IMD_Copy = IMD_Copy.replace([np.nan, -np.inf], '')

In [353]:
import pandas as pd

# Assuming IMD_Copy is your DataFrame

# Specify the variables for which you want to calculate frequency
variables_of_interest = ['telomere_length_change', 'BMI_category', 'sex1']

# Calculate frequency for each specified variable
variable_frequencies = {}
for variable in variables_of_interest:
    frequency = IMD_Copy[variable].value_counts()
    variable_frequencies[variable] = frequency

# Display the frequency for each specified variable
for variable, frequency in variable_frequencies.items():
    print(f"Frequency of values in variable '{variable}':\n{frequency}\n")

Frequency of values in variable 'telomere_length_change':
telomere_length_change
0.0    181
1.0     53
Name: count, dtype: int64

Frequency of values in variable 'BMI_category':
BMI_category
1.0    292
2.0     62
3.0      7
4.0      5
Name: count, dtype: int64

Frequency of values in variable 'sex1':
sex1
2.0    207
1.0    160
Name: count, dtype: int64

In [354]:
from sklearn.impute import KNNImputer
import pandas as pd

# Assuming you have already loaded your data into IMD_Copy DataFrame

# 2. Initialize the KNN imputer
knn_imputer = KNNImputer(n_neighbors=5)  # You can adjust the number of neighbors as needed

# 3. Impute missing values
IMD_Copy_imputed = knn_imputer.fit_transform(IMD_Copy)

# 4. Convert back to a pandas DataFrame (if needed)
IMD_Copy_imputed_df = pd.DataFrame(IMD_Copy_imputed, columns=IMD_Copy.columns)

In [355]:
import pandas as pd

# Assuming IMD_Copy is your DataFrame

# Specify the variables for which you want to calculate frequency
variables_of_interest = ['telomere_length_change', 'BMI_category', 'sex1']

# Calculate frequency for each specified variable
variable_frequencies = {}
for variable in variables_of_interest:
    frequency = IMD_Copy[variable].value_counts()
    variable_frequencies[variable] = frequency

# Display the frequency for each specified variable
for variable, frequency in variable_frequencies.items():
    print(f"Frequency of values in variable '{variable}':\n{frequency}\n")

Frequency of values in variable 'telomere_length_change':
telomere_length_change
0.0    181
1.0     53
Name: count, dtype: int64

Frequency of values in variable 'BMI_category':
BMI_category
1.0    292
2.0     62
3.0      7
4.0      5
Name: count, dtype: int64

Frequency of values in variable 'sex1':
sex1
2.0    207
1.0    160
Name: count, dtype: int64

In [356]:
from sklearn.impute import KNNImputer
import pandas as pd

# Initialize the KNN imputer
knn_imputer = KNNImputer(n_neighbors=5)  # You can adjust the number of neighbors as needed

# Impute missing values
IMD_Copy_imputed = knn_imputer.fit_transform(IMD_Copy)

# Convert back to a pandas DataFrame
IMD_Copy_imputed_df = pd.DataFrame(IMD_Copy_imputed, columns=IMD_Copy.columns)

# Now IMD_Copy_imputed_df contains your data with missing values imputed using KNN